.container {
    border: 3px solid rgba(0,0,0,1);
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.5);
    width: 300px;
    
}
.basic {
    border-bottom: 2px solid rgba(128, 128, 128, 1);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.image {
    background-color: rgb(58, 58, 58, 1);
    border-radius: 50%;
    width: 100px;
}

.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 800;
    color: rgba(0,0,0,1);
    padding: 15px;
    margin: 0;
}

.tag{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(113, 113, 113);
    padding-top: 0px;
    padding-bottom: 15px;
    margin: 0;
}

.location{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(113, 113, 113);
    padding-top: 0px;
    padding-bottom: 15px;
    margin: 0;
}

.list{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    
    background-color: rgb(165, 165, 165);
}

.column{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 20px;
    width: 120px;
}

.column:not(:last-child) {
    border-right:2px solid rgba(128, 128, 128, 1);
}

.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 300;
}

.number{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 800;
}




