.online {
    color: green;
}

.offline {
    color: red;
}

.card{
    border: 2px solid rgba(0,0,0,1);
    border-radius: 5px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar{
    width: 50px;
    padding: 10px;
}

.title{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0,0,0,1);
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding-top: 10px;
}





