.table{
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
}

.head{
    background-color: rgba(58,58,58,1);
    color: rgb(255, 255, 255,1);
}

.columnHead{
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(0,0,0,1)
}

.columnBody{
    padding: 10px;
    padding-left: 60px;
    text-align: left;
    border: 1px solid rgba(0,0,0,1)
}

.cells:nth-child(even){
    background-color: rgba(211,211,211,0.5);
}

.cells:nth-child(odd){
    background-color: rgba(165,165,165,1);
}